name: Publish to cargo
on:
    release:
        types: [published]
jobs:
    # Source: https://crates.io/docs/trusted-publishing
    publish:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
        steps:
            - uses: actions/checkout@v5
            - uses: rust-lang/crates-io-auth-action@v1
              id: auth
            - name: Cargo Cache
              uses: actions/cache@v4
              id: cargo-cache-restore
              with:
                  path: |
                      ~/.cargo/registry
                      ~/.cargo/git
                      ./typ2anki-rust/target
                  key: ${{ runner.os }}-cargo-${{hashFiles('**/Cargo.toml')}}-${{ hashFiles('**/Cargo.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}-
                      ${{ runner.os }}-cargo-
            - run: cargo publish
              working-directory: ./typ2anki-rust
              env:
                  CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
