# .github/workflows/release.yml
name: Release Rust Typ2Anki

on:
    workflow_dispatch:

permissions:
    contents: write
    # packages: write
    # issues: write
    # id-token: write

jobs:
    goreleaser:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Set up Rust
              run: rustup update stable && rustup default stable
            - name: Install jq
              run: sudo apt-get install -y jq
            - name: Get Version
              id: get_version
              working-directory: ./typ2anki-rust
              run: |
                  cargo metadata --no-deps --format-version 1 | jq -r ".packages[0].version"
            - name: Check that tag does not exist
              working-directory: ./typ2anki-rust
              run: |
                  if git rev-parse "refs/tags/v${{ steps.get_version.outputs.version }}" >/dev/null 2>&1
                  then
                      echo "Tag v${{ steps.get_version.outputs.version }} already exists"
                      exit 1
                  else
                      echo "Tag v${{ steps.get_version.outputs.version }} does not exist, continuing"
                  fi
            - name: Create Tag
              working-directory: ./typ2anki-rust
              run: |
                  git tag "v${{ steps.get_version.outputs.version }}"
            - name: Run GoReleaser
              uses: goreleaser/goreleaser-action@v6
              with:
                  workdir: ./typ2anki-rust
                  distribution: goreleaser
                  version: "~> v2"
                  args: release --clean --verbose
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
